body {
    background-image: url('../images/ChessSpace Background.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; 
}

.text-container {
    width: 80%;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 40px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.green-button {
    background-color: #00F0C2;
    border: 10px solid #2E937F;
}

.green-button:hover {
    background-color: #00b78f;
}

.green-input {
    background-color: #2E937F;
    border: 10px solid #00F0C2;
    border-radius: 50px
}

.green-input:hover {
    background-color: #00b78f;
}

.purple-button {
    background-color: #C307FF;
    border: 10px solid #842AA1;
}

.purple-button:hover {
    background-color: #a505d1;
}

.purple-input {
    background-color: #842AA1;
    border: 10px solid #C307FF;
    border-radius: 50px
}

.purple-input:hover {
    background-color: #a505d1;
}

.red-button {
    background-color: #FF0000;
    border: 10px solid #912020;
    border-radius: 50px
}
red-button:hover {
    background-color: #D40000;
}

.loginregisterbutton {
    width: 100%;
    margin-bottom: 20px;
}
.px60{
    font-size: 60px;
    margin-block-end: 0;
}
.px35{
    font-size: 35px;
    margin-block-start: 0;
}
.px40 {
    font-size: 40px;
}
.text-properties {
    text-shadow: -4px 4px 1px rgba(0, 0, 0, 0.25);
    font-family: 'Jaro', sans-serif;
    color: white;
}
.chessboard {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.tablechess {
    border-collapse: collapse;
    width: 320px; /* Pas de breedte aan indien nodig */
    height: 320px; /* Pas de hoogte aan indien nodig */
}



.black {
    background-color: #000;
    width: 40px; /* De breedte van elke cel */
    height: 40px; /* De hoogte van elke cel */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000; /* Voeg een rand toe om de cellen zichtbaar te maken */
}

.white {
    background-color: #fff;
    width: 40px; /* De breedte van elke cel */
    height: 40px; /* De hoogte van elke cel */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000; /* Voeg een rand toe om de cellen zichtbaar te maken */
}
