@{
    ViewData["Title"] = "Create Game";
}

<h2>Maak een nieuw schaakspel</h2>
<form method="post" asp-controller="Game" asp-action="CreateGame">
    <button type="submit" class="btn btn-primary">Maak spel</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/gameLobby.js"></script>