@{
    ViewData["Title"] = "Create Game";
}

<h2>Maak een nieuw schaakspel</h2>
<form method="post" asp-controller="Game" asp-action="CreateGame">
    <button type="submit" class="btn btn-primary">Maak spel</button>
</form>
