@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://use.typekit.net/zlq0erw.css">
    <link rel="stylesheet" href="~/css/site.css?v=4" asp-append-version="true">
</head>
<body>
    <div class="container">
        <div class="text-container">
            <h1 class="px40 text-properties">Login</h1>
        </div>
        <form class="form-container" asp-controller="LoginRegister" asp-action="Login" method="post" novalidate>
            <div class="register-container">
                <label class="text-properties">Email:</label>
                <input type="email" name="email" class="purple-input margin-bottom height text-properties" placeholder="Enter your email" required>
                <label class="text-properties">Password:</label>
                <input type="password" name="password" class="purple-input margin-bottom height text-properties" placeholder="Enter your password" required>
                <button type="submit" class="green-button margin-bottom text-properties px20">Login</button>
            </div>
        </form>
        @if (ViewBag.Error != null) {
            <p class="text-properties px35">@ViewBag.Error</p>
        }
    </div>
</body>
</html>