@model Player

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - ChessSpace</title>
    <link rel="stylesheet" href="https://use.typekit.net/zlq0erw.css">
    <link rel="stylesheet" href="~/css/site.css?v=4" asp-append-version="true">
</head>
<body>
    <div style="position: absolute; top: 20px; left: 20px;">
        <button onclick="history.back()" class="text-properties red-button ">Go Back</button>
    </div>
    <div class="container">
        <div class="text-container">
            <h1 class="px40 text-properties">Enter your Intergalactic <br> Recognition Points <br> to create an account</h1>
        </div>
        <form class="form-container" asp-controller="LoginRegister" asp-action="Register" method="post" novalidate>
            <div class="register-container">
                <input type="hidden" name="Source" value="Register" />
                <label class="text-properties">Username:</label>
                <input asp-for="UserName" name="UserName" type="text" class="purple-input margin-bottom height text-properties" placeholder="What should we call you?">
                <span asp-validation-for="UserName"></span>
                <label class="text-properties">Email:</label>
                <input asp-for="Email" name="Email" type="email" class="purple-input margin-bottom height text-properties" placeholder="What is your E-mail?">
                <span asp-validation-for="Email"></span>
                <label class="text-properties">Password:</label>
                <input asp-for="Password" name="Password" type="password" class="purple-input height text-properties" placeholder="Create a Password">
                <span asp-validation-for="Password"></span>
                <button type="submit" class="green-button margin-bottom text-properties px20">Continue</button>
            </div>
        </form>
    </div>
</body>
</html>
