<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J-OS(hua) Boot Screen</title>
    <link rel="stylesheet" href="~/css/JOS.css" asp-append-version="true">
</head>
<body>
    <div id="boot-screen">
        <div class="spinner">
            <div style="--angle:0deg;"></div>
            <div style="--angle:60deg;"></div>
            <div style="--angle:120deg;"></div>
            <div style="--angle:180deg;"></div>
            <div style="--angle:240deg;"></div>
            <div style="--angle:300deg;"></div>
        </div>

        <div class="progress">
            <div class="progress-bar"></div>
        </div>

        <div class="boot-text" style="animation-delay: 0.5s;">J-OS(hua) v1.0</div>
        <div class="boot-text" style="animation-delay: 1.5s;">Initializing system...</div>
        <div class="boot-text" style="animation-delay: 2.5s;">Loading drivers...</div>
        <div class="boot-text" style="animation-delay: 3.5s;">Starting UI...</div>
    </div>

    <div id="main-content">
    </div>

    <script>
        setTimeout(function() {
            window.location.href = '@Url.Action("Desktop", "Desk")';
        }, 6000);
    </script>
</body>
</html>
